@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  font-family: "Gabarito", sans-serif;
}
body {
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.portfolioCard {
  background-color: rgba(128, 128, 128, 0.173);
}
.gradientText {
  background: linear-gradient(white, rgb(134, 78, 173));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.progressBar {
  border-radius: 15px;
  border: 1px solid gray;
  background-color: transparent;
}
.progressBarVal {
  border-radius: 15px;
  background: linear-gradient(to right, violet, yellow);
}
.scrollBar::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 0);
  border-radius: 20px;
}
.scrollHide::-webkit-scrollbar {
  display: none;
}
.scrollHide {
  scrollbar-width: none;
}
